<ul class="page-sidebar-menu">
				<li>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler hidden-phone"></div>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				</li>
				<li>
					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
					<form class="sidebar-search" action="javascript:;" method="POST">
						<div class="form-container">
							<div class="input-box">
								<a href="javascript:;" class="remove"></a>
								<input type="text" placeholder="搜索"/>
								<input type="button" class="submit" value=" "/>
							</div>
						</div>
					</form>
					<!-- END RESPONSIVE QUICK SEARCH FORM -->
				</li>
				<li class="<%if(locals.indexActive){%>start <%=indexActive%><%}%>">
					<a href="/cms/index">
					<i class="fa fa-home"></i> 
					<span class="title">首页</span>	
					<%if(locals.indexActive){%>
						<span class="selected"></span>
					<%}%>
					</a>
				</li>
				<li class="<%if(locals.nodeActive){%>start <%=nodeActive%><%}%> ">
					<a href="/cms/node/index">
					<i class="fa fa-pencil-square-o"></i> 
					<span class="title">文章</span>		
					<%if(locals.nodeActive){%>			
						<span class="selected"></span>
					<%}%>
					</a>
	
				</li>
				<li class="<%if(locals.pagerActive){%>start <%=pagerActive%><%}%> ">
					<a href="/cms/pager/index">
					<i class="fa fa-file-o"></i> 
					<span class="title">页面</span>		
					<%if(locals.pagerActive){%>			
						<span class="selected"></span>
					<%}%>
					</a>
				</li>
				<li class="<%if(locals.tplActive){%>start <%=tplActive%><%}%> ">
					<a href="/cms/pager/index">
					<i class="fa fa-picture-o"></i> 
					<span class="title">外观</span>		
					<%if(locals.pagerActive){%>			
						<span class="selected"></span>
					<%}%>
					</a>
					<ul class="sub-menu">
						<li class="<%if(locals.selectTplActive){%>start <%=selectTplActive%><%}%> ">
							<a href="/cms/tpl/index">
							<i class="fa fa-archive"></i> 
							<span class="title">选择模板</span>	
							<%if(locals.selectTplActive){%>				
								<span class="selected"></span>
							<%}%>
							</a>
						</li>
						<li class="<%if(locals.editTplActive){%>start <%=editTplActive%><%}%> ">
							<a href="/cms/tpl/edit">
							<i class="fa fa-archive"></i> 
							<span class="title">编辑模板</span>	
							<%if(locals.editTplActive){%>				
								<span class="selected"></span>
							<%}%>
							</a>
						</li>
					
					</ul>
				</li>
				
				

				<li class="<%if(locals.settingActive){%>start <%=settingActive%><%}%> ">
					<a href="#">
					<i class="fa fa-cogs"></i> 
				
					<span class="title">高级设置</span>	
					<%if(locals.settingActive){%>				
						<span class="selected"></span>
					<%}%>
					</a>
					<ul class="sub-menu">
						<li class="<%if(locals.channelActive){%>start <%=channelActive%><%}%> ">
							<a href="/cms/channel/index">
							<i class="fa fa-archive"></i> 
							<span class="title">频道</span>					
							<!-- <span class="selected"></span> -->
						
							</a>
						</li>
						<li class="<%if(locals.menuActive){%>start <%=menuActive%><%}%> ">
							<a href="/cms/menu/index">
							<i class="fa fa-list-ul"></i> 
							<span class="title">菜单</span>					
							</a>
						</li>
					
					</ul>
				</li>
		
			</ul>