<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js lt-ie9> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
    <%include header %>
  
    <body >

        

        
    <!-- Container -->

        <div id="container">
        

        
        <!-- Main Content-->

            

            <section id="content-container">

                      
                <div id="content" class="blog blog-single blog-standard">
                    <article class="format-video">
                       

                        <figure>
                            <img src="<%=website.imgurl%>" alt="Layoffs hit HTC America as the company struggles to turn itself around">
                        </figure>

                        

                               

                       
                        </article>


                    <div class="wrapped-content">

                        <h3><%=website.name%></h3>
                        <p>

                            <% menus.forEach(function(menu){ %>
                               
                                <a href="<%=menu.link%>" class="button red"> <i class="<%=menu.icon%> fa-2x"></i></br><%=menu.name%></a>
                            <% }) %>
                        </p>

                        <hr>
                    </div>
                </div>

            </section>

        <!-- =Main Content -->
        

        

        </div>
    <!-- =Container -->
        


      

        



    
    <%include footer%>



        

        
    </body>
</html>