	
<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.0
Version: 1.5.3
Author: KeenThemes
Website: http://www.keenthemes.com/
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>首页</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<meta name="MobileOptimized" content="320">

	<!-- BEGIN GLOBAL MANDATORY STYLES -->          
	<% include ../include/global_css %>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN THEME STYLES --> 
	<% include ../include/theme_css %>
	<!-- END THEME STYLES -->
	<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-toastr/toastr.min.css" />

	
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
	<!-- BEGIN HEADER -->   
	<div class="header navbar navbar-inverse navbar-fixed-top">
		<!-- BEGIN TOP NAVIGATION BAR -->
		<% include ../include/top %>
		<!-- END TOP NAVIGATION BAR -->
	</div>
	<!-- END HEADER -->
	<div class="clearfix"></div>
	<!-- BEGIN CONTAINER -->   
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->        	
			<%include ../include/wx_menu.ejs%>
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content">
		

			<!-- BEGIN PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->			
					<h3 class="page-title">
						首页				<small>我的日常相关</small>
					</h3>
					<ul class="page-breadcrumb breadcrumb">
				
						<li>
							<i class="fa fa-home"></i>
							<a href="/wx/index">首页</a> 
							<!-- <i class="fa fa-angle-right"></i> -->
						</li>
				
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="portlet box blue">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-reorder"></i>微信账号信息
										</div>
										<div class="tools">
											<a href="javascript:;" class="collapse"></a>
											<a href="#portlet-config" data-toggle="modal" class="config"></a>
											<a href="javascript:;" class="reload"></a>
											<a href="javascript:;" class="remove"></a>
										</div>
									</div>
									<div class="portlet-body form">
										<!-- BEGIN FORM-->
										<form class="form-horizontal" role="form">
											<div class="form-body">
												
												<h3 class="form-section" style='padding-bottom:20px;'>开发模式设置<a  data-target="#appModal" data-toggle="modal" style='float:right' class="btn btn-primary">开发者凭据设置</a></h3>

												<div class="row">
													<div class="col-md-8">
														<div class="form-group">
															<label class="control-label col-md-2">URL:</label>
															<div class="col-md-10">
																<p class="form-control-static">
																	<%=wxAccount.viewUrl%>
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
												
													<!--/span-->
												</div>
												<!--/row-->
												<div class="row">
													<div class="col-md-8">
														<div class="form-group">
															<label class="control-label col-md-2">Token:</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	<%=wxAccount.token%>
																</p>
															</div>
														</div>
													</div>
													
												</div>
												<!--/row-->
									
												<h3 class="form-section">微信账号信息</h3>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-3">名称:</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	<%=wxAccount.name%>
																</p>
															</div>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-3">原始ID:</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	<%=wxAccount.wxid%>
																</p>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-3">账号类型:</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	<%=wxAccount.viewType%>
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-3">微信号:</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	<%=wxAccount.wxhao%>
																</p>
															</div>
														</div>
													</div>
													<!--/span-->
												</div>
												<!--/row-->
												
											</div>
											<!-- <div class="form-actions fluid">
												<div class="row">
													<div class="col-md-6">
														<div class="col-md-offset-3 col-md-9">
															<button type="submit" class="btn green"><i class="fa fa-pencil"></i> Edit</button>
															<button type="button" class="btn default">Cancel</button>
														</div>
													</div>
													<div class="col-md-6">
													</div>
												</div>
											</div> -->
										</form>
										<!-- END FORM-->
									</div>
								</div>

				</div>
			</div>
			

			<!-- /.modal -->
			<div id="appModal" class="modal fade" tabindex="-1" data-width="400">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">开发者凭据</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12">
									<h4>AppId</h4>
									<p>
										<input id='app' type="text" class="col-md-12 form-control" <%if(wxAccount.app.appid){%> value="<%=wxAccount.app.appid%>" <%}%>>
									</p>
									<h4>AppSecret</h4>
									<p>
										<input id='secret' type="text" class="col-md-12 form-control" <%if(wxAccount.app.secret){%> value='<%=wxAccount.app.secret%>' <%}%>>
									</p>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" data-dismiss="modal" class="btn">关闭</button>
							<button type="button" class="saveAppCLS btn red" >保存</button>
						</div>
					</div>
				</div>
			</div>


		
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			
			<!-- END PAGE CONTENT-->
		</div>
		<!-- END PAGE -->    
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<%include ../include/footer.ejs %>
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->   
	<%include ../include/ie.ejs %>
	<%include ../include/core_plugin.ejs %>
	<!-- END CORE PLUGINS -->
	<script type="text/javascript" src="/assets/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/assets/plugins/jquery-file-upload/js/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="/assets/plugins/jquery-file-upload/js/jquery.fileupload.js"></script>
	<script type="text/javascript" src="/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/jquery-validation/dist/additional-methods.min.js"></script>
	<script src="/assets/plugins/bootstrap-toastr/toastr.min.js"></script>
	<script src="/assets/scripts/app.js"></script>   
	<script src="/assets/plugins/moment.min.js"></script>      
	<script>
		jQuery(document).ready(function() {    
		   App.init();
		   var service={
		   		addApp:function(appid,secret,cb){
		   			var params={
		   				appid:appid,
		   				secret:secret
		   			};

		   			$.ajax({
		                type: "GET",
		                url: "/wx/ajSaveApp",
		                data: params,
		                dataType: "json",
		                beforeSend:function(){
		                    
		                },
		                error: function(jqXHR, textStatus, errorThrown){
		                   
		                     cb({'error':1});
		                },
		                success: function(data){
		                
		                    console.log(data);
		                    cb(data);
		                   
		                }
		            });
		   		}
		   }

			var event={
				saveApp:function(){
					$(".saveAppCLS").click(function(){
					
						var appid=$("#app").val();
						var secret=$("#secret").val();

						service.addApp(appid,secret,function(data){
							toastr.success('保存开发者凭据成功');
						});
					});
				}
			}

			event.saveApp();
		});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>