<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link type="text/css" rel="stylesheet" media="all" href="/users/<%=website.account_id%>/skin/<%=website.tplname%>/css/reset.css" />

	<link type="text/css" rel="stylesheet" media="all" href="/users/<%=website.account_id%>/skin/<%=website.tplname%>/css/jquery.mmenu.all.css" />
	<link type="text/css" rel="stylesheet" media="all" href="/users/<%=website.account_id%>/skin/<%=website.tplname%>/css/global.css" />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	
</head>